'menu': [
    {
        'label': 'Packages'
        'submenu': [
            'label': 'Rust Format'
            'submenu': [
                { 'label': 'Format', 'command': 'rust-format:format' }
            ]
        ]
    }
]
